<div class="row mt-5">
<div class="col">


<table class="table">
  <thead>
<tr>
  <th scope="col">#</th>
  <th scope="col">Country</th>
  <th scope="col">Total Cases</th>
  <th scope="col">Total Recovered</th>
  <th scope="col">Total Deaths</th>
</tr>
  </thead>


  <tbody>
<tr>
  <th scope="row">1</th>
  <td>USA</td>
  <td>233,435</td>
  <td>243,635</td>
  <td>53,635</td>
</tr>
<tr>
  <th scope="row">2</th>
  <td>India</td>
  <td>233,435</td>
  <td>243,635</td>
  <td>53,635</td>
</tr>
<tr>
  <th scope="row">3</th>
  <td>Russia</td>
  <td>233,435</td>
  <td>243,635</td>
  <td>53,635</td>
</tr>
  </tbody>
</table>




</div>

</div>